#App {
    max-width: 1140px;
    width: 100%;
    padding: 0 1rem 1rem;
}

.hidden {
    display: none;
}


.selector {
    width: 100%;
    height: 250px;
    padding: 1rem 5px;
    margin-bottom: 1rem;
    perspective: 1000px;
    perspective-origin: 50% -30%;
    border-radius: 10px;
    transition: background-color .3s;
    &:hover {
        cursor: ns-resize;
        background-color: rgba($color: #8f8f8f00, $alpha: .1);
    }
    .container {
        transform-style: preserve-3d;
        position: absolute;
        top: 13%;
        left: 50%;
        width: 170px;
        transition: transform 1s;        
        .tvImg {
            user-select: none;
            box-shadow: 1px 1px black;
            display: inline-block;
            box-shadow: 0px 0px 5px 0px #898989;
            position: absolute;
            border-radius: 6px;
            overflow: hidden;
            cursor: pointer;        
            img {
                width: 100%;
            }
        }
    }
}

@media screen and (max-width: 479px) {
    .selector {
        display: none;
    }
}